<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>80917913434-t89fsb6dcb5upagfks7h1c05bobd2vdo.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.80917913434-t89fsb6dcb5upagfks7h1c05bobd2vdo</string>
	<key>API_KEY</key>
	<string>AIzaSyAy2JFsIFbqi6E2jd9dmYHb8uCMueQrMlM</string>
	<key>GCM_SENDER_ID</key>
	<string>80917913434</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.firestoreExemplo</string>
	<key>PROJECT_ID</key>
	<string>authnotify-560ba</string>
	<key>STORAGE_BUCKET</key>
	<string>authnotify-560ba.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:80917913434:ios:ed08f20f0543582a701d63</string>
</dict>
</plist>